<h1 style="text-align:center">Welcome to Portolio Creator</h1>
<h2 style="text-align: center">Create a New Account</h2>
<div id="loginForm" style="text-align:center;" class="row" style="text-align:center; margin:auto">
<div class="col s6" style="text-align:center">
<form action="/" method="POST">
    <div class="row" style="text-align:center">
    <input type="email" placeholder="email" name="email" required>
    <input type="password" placeholder="password" name="password" required>
    </div>
    <div class="row">
    <input type="submit" value="create" class="btn">
    </div>
</form>
</div>
</div>
