body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

 .btn {
      background-color: #3ea9f0!important;
} 

.secondary {
      background-color: #fff!important;
      color: #3ea9f0!important
}

 input[type="submit"] {
  background-color: #3ea9f0!important;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
} 