body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  background-color: #3ea9f0!important
}

 .btn {
      background-color: #3ea9f0!important;
} 

.secondary {
      background-color: #fff!important;
      color: #3ea9f0!important
}
.delete {
  background-color: #b40000!important;
}
.nav-wrapper {
  padding-left:20px;
  padding-right:20px;
}

.body-row {
  width:90%;
}

 input[type="submit"] {
  background-color: #3ea9f0!important;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
} 