<h1>Edit {{userName}}'s Projects Page</h1>

<form action="/users/{{projectId}}/items/{{project.id}}?_method=PUT" method="POST">
    <input type="text" value="{{project.name}}" name="name">
    <input type="submit" value="Update Project">
</form>