<h1>Create a New Project Page</h1>

<form method="POST" action="/projects">


    {{!--<div id="description-input">
        <label for="description">Description:</label>
        <input name="description">
    </div>--}}

    <button>Submit</button>
</form>

<a href="/projects">Go Back</a>