<h1>Create a New Project</h1>

<form method="POST" action="/users/{{userId}}/projects">
<div>
    <input type="text" name="name" placeholder="Project Name">
</div>
<div>
    <input type="text" name="user_name" placeholder="User Name">
</div>
<div>
    <input type="text" name="description" placeholder="Description">
</div>
<div>
    <input type="text" name="imageUrl" placeholder="Image URL">
</div>
<div>
    <input type="text" name="links" placeholder="Links">
</div>
<div>
    <input type="submit" value="Create Project">
</div>
</form>

<a href="/projects">Go Back</a>