<h1>Create a New Project</h1>

<form method="POST" action="/users/{{userId}}/projects">
<div>
    <input type="text" name="name" placeholder="Project Name">
</div>
<div>
    <input type="text" name="description" placeholder="Description">
</div>
{{!--<div>
    <input type="text" name="imageUrl" placeholder="Image URL">
</div>--}}
<div>
    <input type="text" name="newLinkUrl" placeholder="Link url">
</div>
<div>
    <input type="text" name="newLinkDescription" placeholder="Link description">
</div>
<div>
    <input type="submit" value="Create Project"  class="btn">
</div>
</form>
<div style="padding-top:10px">
<a href="/users/{{userId}}/projects"><button  class="btn secondary">Go Back</button></a>
</div>