<h1>{{userName}}'s Projects:</h1>
<div id="my-projects-list">

    {{#each projects}}
       <div class="my-project">{{this.name}} <a href="/users/{{../userId}}/projects/{{this.id}}">Show Project</a></div>
    {{/each}}

</div>
